<!-- <div class="LogoHanes">
    <h3 style="text-align: center; font-size: 1cm;">HOME</h3>
    <h2>Chào bạn * {{ name }} *Bạn Giàu Của Tôi Ơi. Bắn xin 200k NÀO</h2>
    <h3> VIETCOMBANK - HOÀNG ĐÌNH TÀI - 66666888886789</h3>
    <br/>
    <br/>

    <table class="table">
        <tr>
          <th>Thứ tự</th>
          <th>Tên</th>
          <th>Giá</th>
          <th>Đại Hạ Giá</th>
        </tr>
        <tr *ngFor="let trai of traiCay ; let i = index">
            <th>{{i+1}}</th>
            <th>{{trai}}</th>
            <th>0</th>
        </tr>
        
        
      </table> <br />

      <table class="table">
        <tr>
            <th style="background-color: pink;">Thứ tự</th>
            <th style="background-color: pink;">Tên</th>
            <th style="background-color: pink;">Giá</th>
            <th>Đại Hạ Giá</th>
          </tr>
        <tr *ngFor="let trai of traiCay2 ; let i = index">
            <td>{{i+1}}</td>
            <td>{{trai.ten | uppercase }}</td>
            <td><span [ngClass]="{'so-am' : trai.gia<0 }">{{trai.gia | currency: "VND"}}</span></td>
            <td><span *ngIf="trai.haGia" >Đang Hạ Giá</span></td>
        </tr>
        
      </table>
</div> -->
<br />

<div>
  Tỉnh / Thành Phố:
  <select id="city" (change)="changeCity($event)">
    <option *ngFor="let ttp of vietnamData" value="{{ttp.city}}"> {{ttp.city}}</option>
  </select>
  <br/>

  Quận / Huyện
  <select id="district">
    <option *ngFor="let district of districts" value="{{district}}"> {{district}}</option>
  </select>
</div>